/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 24, ../sass/screen.scss */
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus,
input[type=url]:focus,
input[type=number]:focus,
textarea:focus {
  outline: none;
}

/* line 29, ../sass/screen.scss */
textarea {
  width: 100%;
  resize: none;
}

/* line 34, ../sass/screen.scss */
#home {
  height: 50%;
  overflow: hidden;
}

/* line 39, ../sass/screen.scss */
.btn-danger {
  color: #ff3b30 !important;
}

/* line 43, ../sass/screen.scss */
#counter {
  overflow: hidden;
}
/* line 45, ../sass/screen.scss */
#counter .col {
  text-align: center;
}
/* line 48, ../sass/screen.scss */
#counter .counter-display {
  margin-top: 40% !important;
}
/* line 51, ../sass/screen.scss */
#counter #counter-count {
  font-size: 100px;
}

/* line 55, ../sass/screen.scss */
.tab-btn {
  width: 50% !important;
}
