/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 24, ../sass/screen.scss */
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus,
input[type=url]:focus,
input[type=number]:focus,
textarea:focus {
  outline: none;
}

/* line 29, ../sass/screen.scss */
textarea {
  width: 100%;
  resize: none;
}

/* line 34, ../sass/screen.scss */
#home {
  height: 50%;
  overflow: hidden;
}

/* line 39, ../sass/screen.scss */
.btn-danger {
  color: #ff3b30 !important;
}

/* line 43, ../sass/screen.scss */
#counter {
  overflow: hidden;
}
/* line 45, ../sass/screen.scss */
#counter .col {
  text-align: center;
}
/* line 48, ../sass/screen.scss */
#counter .counter-display {
  margin-top: 40% !important;
}
/* line 51, ../sass/screen.scss */
#counter #counter-count {
  font-size: 100px;
}

/* line 56, ../sass/screen.scss */
#game {
  overflow: hidden;
}
/* line 58, ../sass/screen.scss */
#game .col {
  text-align: center;
}
/* line 61, ../sass/screen.scss */
#game .game-display {
  margin-top: 40% !important;
}
/* line 64, ../sass/screen.scss */
#game #game-count {
  font-size: 100px;
}

/* line 69, ../sass/screen.scss */
#game-result {
  overflow: hidden;
}
/* line 71, ../sass/screen.scss */
#game-result .col {
  text-align: center;
}
/* line 74, ../sass/screen.scss */
#game-result .result-display {
  margin-top: 40% !important;
}
/* line 77, ../sass/screen.scss */
#game-result #result-count {
  font-size: 100px;
}

/* line 82, ../sass/screen.scss */
.tab-btn {
  width: 50% !important;
}

/* line 86, ../sass/screen.scss */
.progress {
  width: 90vw;
  height: 10px;
  margin-top: 5px;
}

/* line 92, ../sass/screen.scss */
.fore {
  background-color: #007aff;
  border-radius: 20px;
}

/* line 97, ../sass/screen.scss */
.back {
  background-color: white;
  margin-left: 5vw;
  border-radius: 20px;
}
