/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$ios-theme-color : #007aff;
$ios-alert-color : #ff3b30;

// .list {
// 	li {
// 		// width: 100%;
// 	}
// }

input[type=text],
input[type=email],
input[type=password],
input[type=text],
input[type=url],
input[type=number],
textarea {
	&:focus {
		outline: none;
	}
}

textarea {
	width: 100%;
	resize: none;
}

#home {
	height: 50%;
	overflow: hidden;
}

.btn-danger {
	color: $ios-alert-color !important;
}

#counter {
	overflow: hidden;
	.col {
		text-align: center;
	}
	.counter-display {
		margin-top: 40% !important;
	}
	#counter-count {
		font-size: 100px;
	}
}
.tab-btn {
	width: 50% !important;
}